
<div class="page-container">
	<div class="content-wrapper">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h3>Список автомобилей</h3>
				<button [routerLink]="['/cars/new']" type="submit" class="btn btn-success">Добавить <i class="icon-plus22 position-left"></i></button>
			</div>
			<div class="panel-body"></div>
			<div class="dataTables_wrapper no-footer">
				<div class="datatable-scroll">
					<grid
							[rows]="models"
							[columns]="columns"
							[total]="count"
							[action]="'cars'"
							(update)="setPage($event)"
							(delete)="deleteModel($event)"
							(setsort)="setSort($event)"
					></grid>
				</div>
			</div>
		</div>
	</div>
</div>