<div class="datatable-scroll">
        <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
            <tr>
                <th 
                class="" 
                *ngFor="let col of columns" 
                (click)="sort(col.name)" 
                [ngClass]="{'sorting_asc' : col.name == _sort && desc == false, 'sorting_desc' : col.name == _sort && desc == true, 'sorting' : col.name != _sort}"
                >
                    {{col.descr}}

                </th>
                <th>
                    
                </th>
            </tr>
            <tr *ngIf="hasSearch(columns)">
                
                    <th
                    *ngFor="let col of columns" 
                    >
                        <input [type]="col.search.type" [(ngModel)]="search[col.name]" class="form-control" *ngIf="col.search" [name]="col.name" (keyup.enter)="inputSearch()">
                        <input [type]="col.search.type" [(ngModel)]="search[col.name+2]" class="form-control" *ngIf="col.search2" [name]="col.name+2" (keyup.enter)="inputSearch()">
                        <select [name]="col.columnName ? col.columnName : col.name" class="form-control" [(ngModel)]="search[col.columnName]" *ngIf="col.select" (change)="inputSearch()">
                            <option value=""></option>
                            <option [value]="item.id" *ngFor="let item of col.select.data">{{item.name}}</option>
                        </select>
                    </th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let row of rows">
                <td *ngFor="let col of columns">
                    <div *ngIf="!col.format && !col.customInput">{{row[col.name]}}</div>
                    <div *ngIf="col.format && col.format.type == 'date'">{{row[col.name] | date: col.format.format}}</div>
                    <div *ngIf="col.format && col.format.func">{{col.format.func(row[col.name])}}</div>
                    <div *ngIf="col.format && col.format.row"><p [innerHTML]="col.format.row(row)"></p></div>
                </td>
                <td>
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-menu9"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li *ngIf="events.indexOf('edit') !== -1">
                                    <a [routerLink]="['/'+action+'/'+row['id']+'/edit']"><i class="icon-pencil3"></i> Редактировать </a>
                                </li>
                                <li *ngIf="events.indexOf('block') !== -1">
                                    <a (click)="blockItem(row['id'])">
                                        <i [ngClass]="{'icon-unlocked2' : row['blocked'], 'icon-lock' : !row['blocked']}"></i> 
                                            {{row['blocked'] ? 'Разблокировать' : 'Заблокировать'}} 
                                        </a>
                                </li>
                                <li *ngIf="events.indexOf('delete') !== -1">
                                    <a (click)="deleteItem(row['id'])"><i class="icon-x"></i> Удалить </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="datatable-footer">
<!--   <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 15 entries</div> -->
  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
        <span *ngIf="pager.pages && pager.pages.length > 1" class="pagination pagination-sm twbs-prev-next pagination">
            <!-- <li class="first" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)">⇤</a>
            </li> -->
           <!--  <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
            <a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a> -->
            <a class="paginate_button next previous" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)">«
            </a>
            <a 
            *ngFor="let page of pager.pages" 
            [ngClass]="{current:pager.currentPage === page}" 
            class="paginate_button"  
            (click)="setPage(page)"
            >
                {{page}}
            </a>
            <a class="paginate_button next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">»
            </a>
            <!-- <li class="last"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link"  (click)="setPage(pager.totalPages)">⇥</a>
            </li> -->
        </span>
  </div>
</div>

<div class="center bootpag-default">
</div>