<div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Данные аккаунта<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >
            <div class="form-group" ng-class='getIsError("email")'>
                <label class="col-lg-3 control-label">Эл.почта:</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" placeholder="" [(ngModel)]="model.email" name="email">
                    <span *ngIf="errors['email']" class="help-block">{{errors['email'][0]}}</span>
                </div>
            </div>

            <div class="form-group" ng-class='getIsError("name")'>
                <label class="col-lg-3 control-label">Логин:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Будет использован для входа" [(ngModel)]="model.name" name="name">
                    <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                </div>
            </div>

            <div class="form-group" ng-class='getIsError("password")'>
                <label class="col-lg-3 control-label">Пароль:</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control" placeholder="" [(ngModel)]="model.password" name="password">
                    <span *ngIf="errors['password']" class="help-block">{{errors['password'][0]}}</span>
                </div>
            </div>

            <div class="form-group" *ngIf="getUserRole() == 'admin'">
                <label class="col-lg-3 control-label">Роль:</label>
                <div class="col-lg-9">
                    <select name="repeatSelect" id="repeatSelect" class="form-control"  [(ngModel)]="model.role" >
                        <option value="admin">Администратор</option>
                        <option value="driver">Водитель</option>
                        <option value="legal">Юридическое лицо</option>
                        <option value="driver-manager">Водитель менеджер</option>
                    </select>
                    <span *ngIf="errors['role']" class="help-block">{{errors['role'][0]}}</span>
                </div>
            </div>

            <div *ngIf="storage.getUserRole() == 'admin'" class="form-group">
                    <label class="col-lg-3 control-label">Блокировка:</label>
                    <div class="col-lg-9">
                        <select class="form-control" [(ngModel)]="model.blocked" name="blocked">
                            <option value="0">
                                Нет
                            </option>
                            <option value="1">
                                Да
                            </option>
                        </select>
                        <span *ngIf="errors['blocked']" class="help-block">{{errors['blocked'][0]}}</span>
                    </div>
                </div>

            <div class="alert alert-success no-border" *ngIf="success">
                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                <span class="text-semibold">Сохранено</span>
            </div>
            <div class="text-left">
                <button type="submit" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-left"></i></button>
            </div>
            </form>
        </div>
    </div>
        </div>
    </div>
</div> 