<div class="page-header page-header-inverse" *ngIf="getUserName() && this.router.url !== '/login'">
	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-transparent">
		<div class="">
			<a class="navbar-brand" (click)="navBarClick()"><img src="assets/images/logo_light.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav" >
				<li [ngClass]="{'active': this.router.url === '/users'}" *ngIf="getUserRole() == 'admin'">
					<a [routerLink]="['/users']">Пользователи</a>
				</li>
				<li [ngClass]="{'active': this.router.url === '/cars'}" *ngIf="getUserRole() == 'admin'">
					<a [routerLink]="['/cars']">Автомобили</a>
				</li>
				<li [ngClass]="{'active': this.router.url === '/orders'}">
					<a [routerLink]="['/orders']">Заявки</a>
				</li>
			</ul>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li class="dropdown dropdown-user">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<img src="assets/images/placeholder.jpg" alt="">
							<span>{{getUserName()}}</span>
							<i class="caret"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li>
					<a [routerLink]="['/users/'+getUserId()+'/edit']">
<!-- 							<span class="status-mark status-mark-inline border-success-300 position-left"></span> -->
						<i class="icon-cog3"></i>
						Профиль
					</a>
				</li>
							<li><a (click)="logout()"><i class="icon-switch2"></i> Выйти </a></li>
						</ul>
					</li>
				</ul>
			</div>

			

		</div>

	</div>

	<!-- /main navbar -->
</div>