<div class="page-container">
	<div class="page-content">
		<div class="sidebar sidebar-main sidebar-default">
			<div class="sidebar-content">

				<!-- Main navigation -->
				<div class="sidebar-category sidebar-category-visible">
					<!-- <div class="category-title h6">
						<span>Main sidebar</span>
					</div>  -->

					<div class="category-content no-padding">
						<ul class="navigation navigation-main navigation-accordion">

							<li>
								<a [routerLink]="['edit']"><i class="icon-user"></i> <span>Аккаунт</span></a>
							</li>
							<li>
								<a [routerLink]="['profile']"><i class="icon-profile"></i> <span>Профиль</span></a>
							</li>
							<li *ngIf="role == 'legal'">
								<a [routerLink]="['contract']"><i class="icon-profile"></i> <span>Контракты</span></a>
							</li>
							<li *ngIf="role == 'driver'">
								<a [routerLink]="['cars']"><i class="icon-car"></i> <span>Автомобили</span></a>
							</li>
							<li *ngIf="role == 'driver'">
								<a [routerLink]="['schedule']"><i class="icon-table"></i> <span>График работы</span></a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>