<div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Данные пользователя<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                </div>

                <div class="panel-body">
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" >
                        <div *ngIf="model.role == 'admin'">
                            <div class="form-group" ng-class='getIsError("name")'>
                                <label class="col-lg-3 control-label">ФИО:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
                                    <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="model.role == 'legal'">
                            <div class="form-group" ng-class='getIsError("name")'>
                                <label class="col-lg-3 control-label">Наименование</label>
                                <div class="col-lg-9">
                                    <input type="name" class="form-control" [(ngModel)]="model.name" name="name">
                                    <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("requisites")' *ngIf="storage.getUserRole() == 'admin'">
                                <label class="col-lg-3 control-label">Реквизиты:</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" [(ngModel)]="model.requisites" name="requisites">
                                    </textarea>
                                    <span *ngIf="errors['requisites']" class="help-block">{{errors['requisites'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("phone")' *ngIf="storage.getUserRole() == 'admin'">
                                <label class="col-lg-3 control-label">Телефон:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone">
                                    <span *ngIf="errors['phone']" class="help-block">{{errors['phone'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("legal_address")' *ngIf="storage.getUserRole() == 'admin'">
                                <label class="col-lg-3 control-label">Юридический адрес:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.legal_address" name="legal_address">
                                    <span *ngIf="errors['legal_address']" class="help-block">{{errors['legal_address'][0]}}</span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="model.role == 'driver' || model.role == 'driver-manager'">
                            <div class="form-group" ng-class='getIsError("name")'>
                                <label class="col-lg-3 control-label">ФИО:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
                                    <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("name")'>
                                <label class="col-lg-3 control-label">Позывной:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.callsign" name="callsign">
                                    <span *ngIf="errors['callsign']" class="help-block">{{errors['callsign'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("phone")'>
                                <label class="col-lg-3 control-label">Телефон:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" [(ngModel)]="model.phone" name="phone">
                                    <span *ngIf="errors['phone']" class="help-block">{{errors['phone'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Выходной:</label>
                                <div class="col-lg-9">
                                    <input type="radio" name="weekend" [(ngModel)]="model.weekend" [value]="1" id="weekend_1">
                                    <label for="weekend_1">Да</label>
                                    <input type="radio" name="weekend" [(ngModel)]="model.weekend" [value]="0" id="weekend_0">
                                    <label for="weekend_0">Нет</label>
                                    <span *ngIf="errors['weekend']" class="help-block">{{errors['weekend'][0]}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <fieldset *ngIf="model.role == 'legal'" class="content-group">
                            <legend class="text-bold">Тарифы</legend>
                            <div class="form-group" ng-class='getIsError("request_price")'>
                                <label class="col-lg-3 control-label">Стоимость подачи:</label>
                                <div class="col-lg-9">
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                        </span>
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
                                        </span>
                                        <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.request_price" name="request_price" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix">
                                            руб
                                        </span>
                                        <span class="input-group-btn"></span>
                                    </div>
                                    
                                    <span *ngIf="errors['request_price']" class="help-block">{{errors['request_price'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("transfer")'>
                                <label class="col-lg-3 control-label">Стоимость далее:</label>
                                <div class="col-lg-9">
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                        </span>
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
                                        </span>
                                        <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.transfer" name="transfer" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix">
                                            руб/км
                                        </span>
                                        <span class="input-group-btn"></span>
                                    </div>
                                    <span *ngIf="errors['transfer']" class="help-block">{{errors['transfer'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class='getIsError("order_cost")'>
                                <label class="col-lg-3 control-label">Минимальная стоимость поездки:</label>
                                <div class="col-lg-9">
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                        </span>
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;">
                                        </span>
                                        <input type="text" class="touchspin-prefix form-control" [(ngModel)]="model.order_cost" name="order_cost" style="display: block;">
                                        <span class="input-group-addon bootstrap-touchspin-postfix">
                                            руб
                                        </span>
                                        <span class="input-group-btn"></span>
                                    </div>
                                    <span *ngIf="errors['order_cost']" class="help-block">{{errors['order_cost'][0]}}</span>
                                </div>
                            </div>
                        </fieldset> -->

                    <div class="alert alert-success no-border" *ngIf="success" >
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold">Сохранено</span>
                    </div>
                    <div class="text-left" *ngIf="storage.getUserRole() == 'admin' || storage.getUserRole() == 'driver'">
                        <button type="submit" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-left"></i></button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 