﻿
<div class="page-container">
	<div class="content-wrapper">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h3>Список пользователей</h3>
					<button [routerLink]="['/users/new']" type="submit" class="btn btn-success">Добавить <i class="icon-plus22 position-left"></i></button>
			</div>
			<div class="panel-body">
				<div class="dataTables_wrapper no-footer">
					<div class="datatable-scroll">
						<grid 
							[rows]="users" 
							[columns]="columns" 
							[total]="rows"
							[action]="'users'"
							(update)="setPage($event)"
							(delete)="deleteUser($event)"
							(setsort)="setSort($event)"
							></grid>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>